*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container{
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #aad7e0;
}

#app {
  max-width: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 4px;
  margin-bottom: 10px;
  border: 1px solid #0cabea;
  border-radius: 5px;
}

#addTask {
  background-color: #0089e4;
  color: #accad7;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

#addTask:hover {
  background-color: #2980b9;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}

.task {
  flex-grow: 1;
  color: #333;
}

.delete-button {
  background-color: #ff6666;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #ff3333;
}
